<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<typeAliases>
		<typeAlias alias="product" type="com.company.product.ProductVO"/>
		<typeAlias alias="member" type="com.company.member.MemberVO"/>
		<typeAlias alias="partner" type="com.company.partner.PartnerVO"/>
		<typeAlias alias="reservation" type="com.company.reservation.ReservationVO"/>
	</typeAliases>
</configuration>