.u-section-1 .u-sheet-1 {
  min-height: 900px;
}

.u-section-1 .u-shape-1 {
  width: 386px;
  height: 403px;
  margin: 331px auto 0 -273px;
}

.u-section-1 .u-btn-1 {
  font-size: 1.875rem;
  background-image: none;
  border-style: none;
  font-weight: 500;
  margin: -293px 158px 0 auto;
  padding: 13px 21px 14px;
}

.u-section-1 .u-shape-2 {
  width: 833px;
  height: 658px;
  margin: -93px auto 0 -291px;
}

.u-section-1 .u-shape-3 {
  width: 454px;
  height: 475px;
  margin: -779px auto 0 -291px;
}

.u-section-1 .u-shape-4 {
  width: 719px;
  height: 584px;
  margin: -336px auto 0 -245px;
}

.u-section-1 .u-text-1 {
  font-size: 5rem;
  font-family: "Noto Sans KR Regular";
  font-weight: 700;
  letter-spacing: 0px;
  line-height: 1.4;
  margin: -845px 54px 0 106px;
}

.u-section-1 .u-text-2 {
  font-weight: normal;
  font-family: "Noto Sans KR Regular";
  font-size: 1.5rem;
  margin: 18px 54px 60px 106px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 600px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: -329px;
    margin-right: 76px;
  }

  .u-section-1 .u-shape-2 {
    margin-top: -57px;
  }

  .u-section-1 .u-text-1 {
    font-size: 3.75rem;
    width: auto;
    margin-top: -891px;
    margin-right: 56px;
    margin-left: 95px;
  }

  .u-section-1 .u-text-2 {
    font-size: 1.25rem;
    width: auto;
    margin-top: 17px;
    margin-right: 84px;
    margin-left: 95px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-shape-1 {
    margin-top: 273px;
  }

  .u-section-1 .u-btn-1 {
    font-size: 1.25rem;
    margin-top: -348px;
    margin-right: 36px;
    padding: 9px 18px 9px 17px;
  }

  .u-section-1 .u-shape-2 {
    width: 495px;
    height: 468px;
    margin-top: 30px;
    margin-left: -196px;
  }

  .u-section-1 .u-shape-3 {
    margin-top: -621px;
    margin-left: -307px;
  }

  .u-section-1 .u-shape-4 {
    width: 512px;
    height: 416px;
    margin-top: -304px;
    margin-left: -241px;
  }

  .u-section-1 .u-text-1 {
    font-size: 3rem;
    margin-top: -751px;
    margin-right: 96px;
    margin-left: 62px;
  }

  .u-section-1 .u-text-2 {
    margin-top: 13px;
    margin-right: 18px;
    margin-left: 62px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 400px;
  }

  .u-section-1 .u-shape-1 {
    width: 405px;
    height: 334px;
    margin-left: -243px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: -342px;
    margin-right: 0;
  }

  .u-section-1 .u-shape-2 {
    width: 618px;
    height: 459px;
    margin-top: 31px;
    margin-left: -325px;
  }

  .u-section-1 .u-shape-3 {
    width: 445px;
    margin-top: -540px;
    margin-left: -245px;
  }

  .u-section-1 .u-shape-4 {
    width: 537px;
    height: 421px;
    margin-top: -375px;
    margin-left: -299px;
  }

  .u-section-1 .u-text-1 {
    font-size: 2.25rem;
    margin-top: -688px;
    margin-right: -105px;
    margin-left: 0;
  }

  .u-section-1 .u-text-2 {
    font-size: 1rem;
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 600px;
  }

  .u-section-1 .u-shape-1 {
    margin-top: 316px;
    margin-left: -300px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: -359px;
  }

  .u-section-1 .u-shape-2 {
    margin-top: 48px;
    margin-left: -382px;
  }

  .u-section-1 .u-shape-3 {
    margin-top: -541px;
    margin-left: -302px;
  }

  .u-section-1 .u-shape-4 {
    margin-left: -356px;
  }

  .u-section-1 .u-text-1 {
    font-size: 1.875rem;
    margin-top: -739px;
    margin-right: -79px;
    margin-left: -21px;
  }

  .u-section-1 .u-text-2 {
    font-size: 0.875rem;
    margin-top: 15px;
    margin-right: -58px;
    margin-left: -21px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 900px;
}

.u-section-2 .u-shape-1 {
  width: 1010px;
  height: 790px;
  margin: 429px -453px 0 auto;
}

.u-section-2 .u-shape-2 {
  width: 1164px;
  height: 918px;
  margin: -843px -504px 0 auto;
}

.u-section-2 .u-text-1 {
  font-family: "Noto Sans KR Regular";
  font-weight: 700;
  letter-spacing: 0px;
  line-height: 1.2;
  font-size: 5rem;
  margin: -1115px 0 0 610px;
}

.u-section-2 .u-text-2 {
  font-weight: 100;
  font-size: 3rem;
  margin: 21px 0 0 610px;
}

.u-section-2 .u-text-3 {
  font-size: 1.5rem;
  margin: 28px 0 60px 459px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 600px;
  }

  .u-section-2 .u-shape-1 {
    margin-top: 197px;
    margin-right: -699px;
    margin-left: 629px;
  }

  .u-section-2 .u-shape-2 {
    margin-right: -765px;
  }

  .u-section-2 .u-text-1 {
    font-size: 3.75rem;
    line-height: 1.4;
    width: auto;
    margin-top: -965px;
    margin-left: 415px;
  }

  .u-section-2 .u-text-2 {
    width: auto;
    margin-top: 14px;
    margin-left: 649px;
  }

  .u-section-2 .u-text-3 {
    font-size: 1.25rem;
    width: auto;
    margin-top: 33px;
    margin-left: 285px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 611px;
  }

  .u-section-2 .u-shape-1 {
    width: 940px;
    height: 619px;
    margin-top: 351px;
    margin-right: -488px;
    margin-left: auto;
  }

  .u-section-2 .u-shape-2 {
    height: 646px;
    margin-top: -632px;
    margin-right: -582px;
  }

  .u-section-2 .u-text-1 {
    font-size: 3rem;
    margin-top: -850px;
    margin-left: 290px;
  }

  .u-section-2 .u-text-2 {
    font-size: 2.25rem;
    margin-top: 9px;
    margin-left: 456px;
  }

  .u-section-2 .u-text-3 {
    margin-top: 22px;
    margin-left: 39px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 400px;
  }

  .u-section-2 .u-shape-1 {
    height: 325px;
    width: 599px;
    margin-top: 259px;
    margin-right: -400px;
  }

  .u-section-2 .u-shape-2 {
    height: 325px;
    width: 540px;
    margin-top: -325px;
    margin-right: -320px;
  }

  .u-section-2 .u-text-1 {
    font-size: 2.25rem;
    margin-top: -493px;
    margin-left: 253px;
  }

  .u-section-2 .u-text-2 {
    font-size: 1.875rem;
    margin-top: 10px;
    margin-left: 253px;
  }

  .u-section-2 .u-text-3 {
    font-size: 1rem;
    margin-top: 8px;
    margin-left: 107px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 611px;
  }

  .u-section-2 .u-shape-1 {
    width: 540px;
    height: 381px;
    margin-top: 331px;
    margin-right: -305px;
  }

  .u-section-2 .u-shape-2 {
    height: 351px;
    margin-top: -390px;
    margin-right: -270px;
  }

  .u-section-2 .u-text-1 {
    margin-top: -583px;
    margin-left: 53px;
  }

  .u-section-2 .u-text-2 {
    font-size: 1.5rem;
    margin-left: 53px;
  }

  .u-section-2 .u-text-3 {
    margin-top: 18px;
    margin-left: 125px;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 900px;
}

.u-section-3 .u-text-1 {
  font-size: 5rem;
  font-family: "Noto Sans KR Regular";
  font-weight: 700;
  letter-spacing: 0px;
  line-height: 1.4;
  margin: 156px 280px 0 70px;
}

.u-section-3 .u-icon-1 {
  height: 38px;
  width: 40px;
  margin: -224px auto 0 19px;
}

.u-section-3 .u-icon-2 {
  height: 38px;
  width: 40px;
  margin: 79px 324px 0 auto;
}

.u-section-3 .u-line-1 {
  width: 557px;
  height: 8px;
  transform-origin: left center 0px;
  margin: 100px auto 0 70px;
}

.u-section-3 .u-text-2 {
  font-family: "Noto Sans KR Regular";
  font-weight: normal;
  font-size: 1.5rem;
  margin: 129px 822px 0 104px;
}

.u-section-3 .u-text-3 {
  font-family: "Noto Sans KR Regular";
  font-weight: normal;
  font-size: 1.5rem;
  margin: -201px 462px 0 463px;
}

.u-section-3 .u-text-4 {
  font-family: "Noto Sans KR Regular";
  font-weight: normal;
  font-size: 1.5rem;
  margin: -201px 104px 0 822px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 613px;
  }

  .u-section-3 .u-text-1 {
    font-size: 3.75rem;
    width: auto;
    margin-top: 101px;
    margin-right: 343px;
    margin-left: 40px;
  }

  .u-section-3 .u-icon-1 {
    margin-top: -206px;
    margin-left: 0;
  }

  .u-section-3 .u-icon-2 {
    margin-top: 95px;
  }

  .u-section-3 .u-line-1 {
    margin-top: 68px;
    margin-left: 0;
  }

  .u-section-3 .u-text-2 {
    width: auto;
    margin-top: 41px;
    margin-right: 725px;
    margin-left: 0;
  }

  .u-section-3 .u-text-3 {
    width: auto;
    margin-right: 366px;
    margin-left: 359px;
  }

  .u-section-3 .u-text-4 {
    width: auto;
    margin-right: 8px;
    margin-bottom: 60px;
    margin-left: 719px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-text-1 {
    font-size: 3rem;
    margin-top: 94px;
    margin-right: 123px;
  }

  .u-section-3 .u-icon-1 {
    margin-top: -159px;
  }

  .u-section-3 .u-icon-2 {
    margin-top: 57px;
    margin-right: 214px;
  }

  .u-section-3 .u-line-1 {
    width: 424px;
    margin-top: 79px;
  }

  .u-section-3 .u-text-2 {
    font-size: 1.125rem;
    margin-top: 86px;
    margin-right: 505px;
  }

  .u-section-3 .u-text-3 {
    font-size: 1.125rem;
    width: 215px;
    margin-top: -107px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-3 .u-text-4 {
    font-size: 1.125rem;
    margin-top: -107px;
    margin-right: 0;
    margin-left: 506px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 400px;
  }

  .u-section-3 .u-text-1 {
    font-size: 2.25rem;
    margin-top: 80px;
    margin-right: -29px;
    margin-left: 29px;
  }

  .u-section-3 .u-icon-1 {
    margin-top: -138px;
  }

  .u-section-3 .u-icon-2 {
    margin-top: 31px;
    margin-right: 150px;
  }

  .u-section-3 .u-line-1 {
    width: 323px;
    margin-top: 60px;
  }

  .u-section-3 .u-text-2 {
    font-size: 0.875rem;
    margin-top: 34px;
    margin-right: 398px;
  }

  .u-section-3 .u-text-3 {
    font-size: 0.875rem;
    width: 140px;
    margin-top: -100px;
  }

  .u-section-3 .u-text-4 {
    font-size: 0.875rem;
    margin-top: -100px;
    margin-bottom: 49px;
    margin-left: 401px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 600px;
  }

  .u-section-3 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-icon-1 {
    margin-left: -20px;
  }

  .u-section-3 .u-icon-2 {
    margin-right: -20px;
  }

  .u-section-3 .u-line-1 {
    margin-top: 71px;
  }

  .u-section-3 .u-text-2 {
    margin-top: 42px;
    margin-right: 118px;
  }

  .u-section-3 .u-text-3 {
    width: auto;
    margin-top: 36px;
    margin-right: 147px;
    margin-left: 0;
  }

  .u-section-3 .u-text-4 {
    margin: 36px 131px 58px 0;
  }
}