@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');
	.blue{
		background-color: #40B7EE; 
		border:none; 
		height:3px; 
	
	}
	.time{
		display:inline-block;
		background-color: #40B7EE; 
		border:none; 
		border-radius:20px;
		width: 200px;
		height:50px;
		color:white;
		filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
		font-size: 15px;
		margin-top: 50px;
	}
	
	.footer{
		display:none;
	}
	
	.center{
		text-align:center;
	}
	
	#date, #address, #orders{
		width: 80vw;
		margin: 50px auto;
		height: 500px;
	}
	

	#calendar{
		margin-top:20px;
		margin-left: 50px;
		background-color:lightgray;
		border:none;
		width: 400px;
		height:400px;
		float:left;
	}
	
	#postal{
		width: 300px;
		margin-top: 50px;
		margin-right: 20px;
		border:1px solid lightgray;
		border-radius:15px;
		height:50px;
	}
	#postalCode{
		width: 200px;
		border-radius:15px;
		height:53px;
		margin-top: 20px;
		border: none;
		background-color:#40B7EE; 
		color: white;
	
	}
	
	#address1, #address2{
		margin: 20px auto auto auto;
		width: 600px;
		border:1px solid lightgray;
		border-radius:15px;
		height: 50px;
	}
	
	h2{
		color: #40B7EE; 
		font-size: 40px;
		font-weight:500;
	}
	
	#timeButtons{
		margin-top: 90px;
		width: 300px;
		height: 250px;
		background-color:white;
		border:none;
		border-radius:20px;
		box-shadow: 2px 4px 4px 3px rgba(0, 0, 0, 0.25);
		text-align:center;
		display:inline-block;
	}
	
	h4, p{
		font-family: 'Noto Sans KR', sans-serif;
	}
	h4{
	
		font-weight: 700;
		font-size:15px;
	}
	p{
		margin-top:10px;
		font-weight:300;
		font-size:12px;
	}
	.order{
		padding-top: 20px;
		margin-left: 30px;
		margin-top: 10px;
		width: 80%;
		height: 120px;
		box-shadow: 2px 4px 4px 3px rgba(0, 0, 0, 0.25);
		border-radius:20px;
		
		
	}
	#orders{
		margin-top: 40px;
		height: 70vh;
		padding-bottom: 40px;
	}
	.info{
		margin-left: 20px;
	}
	
	#left{
		margin-top:30px;
		margin-right:70px;
		width: 45%;
		float: left;
		overflow-y:auto;
		height: 50vh;
		border: 1px solid lightgray;
		border-radius:20px;
		
	}
	#right{
	
	display:inline-block;
	width: 45%;
	}
	#total{
		margin-top: 30px;
		width: 80%;
		height: 240px;
		background-color: #40B7EE; 
		color:white;
		border-radius: 40px;
		padding-left: 50px;
		padding-right: 50px;
		padding-top: 10px;
	}
	#total h3{
		color: white;
		font-size: 30px;
	}
	#total h4{
		font-size: 25px;
		margin-left: 30px;
		font-weight: 400;
		margin-top:10px;
		margin-bottom:10px;
	}

	#total h2{
		float:right;
		color:white;
		margin-top:0px;

	}
	input[type="button"]:hover{
		cursor:pointer;
	}
	
	.orderButton {
	
		margin-top: 30px;
		width: 100%;
		border:2px solid #40B7EE;
		border-radius:20px;
		height: 60px;
		background-color:white;
		font-size: 15px;
	}




@media (max-width: 939px) {
	
	#date, #address, #orders{
		height: 400px;
	}
	#address{
		margin-top: 50px;
	}
	#calendar{
		margin-top:20px;
		margin-left: 30px;
		background-color:lightgray;
		border:none;
		width: 250px;
		height:250px;
		float:left;
	}
	
	#timeButtons{
		margin-top: 50px;
		width: 200px;
		height: 200px;
		background-color:white;
		border:none;
		border-radius:20px;
		box-shadow: 2px 4px 4px 3px rgba(0, 0, 0, 0.25);
		text-align:center;
		display:inline-block;
	}
	
	.time{
		display:inline-block;
		background-color: #40B7EE; 
		border:none; 
		border-radius:15px;
		width: 120px;
		height:40px;
		color:white;
		filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
		font-size: 15px;
		margin-top: 40px;
	}
	
	
	#postal{
		width: 220px;
		margin-top: 20px;
		margin-right: 20px;
		border:1px solid lightgray;
		border-radius:15px;
		height:40px;
		padding-left: 10px;
	}
	#postalCode{
		width: 120px;
		border-radius:15px;
		height:43px;
		margin-top: 15px;
		border: none;
		background-color:#40B7EE; 
		color: white;
	}
	#address1, #address2{
		padding-left: 10px;
		margin: 20px auto auto auto;
		width: 400px;
		border:1px solid lightgray;
		height: 40px;

	}
	#left{
		margin-right: 40px;
	}
	
	.order{
		padding-top: 5px;
		margin-left: 30px;
		margin-top: 15px;
		width: 80%;
		height: 70px;
		box-shadow: 2px 4px 4px 3px rgba(0, 0, 0, 0.25);
		border-radius:20px;
		
		
	}
	h4{
		font-weight: 700;
		font-size:13px;
		margin-bottom:3px;
	}
	p{
		margin-top:0px;
		font-weight:300;
		font-size:10px;
	}
	
	
	#total{
		margin-top: 30px;
		width: 85%;
		height: 200px;
		background-color: #40B7EE; 
		color:white;
		border-radius: 40px;
		padding-left: 30px;
		padding-right: 30px;
		padding-top: 10px;
	}
	
	#total h3{
		color: white;
		font-size: 25px;
		margin-bottom: 20px;
	}
	#total h4{
		font-size: 15px;
		margin-left: 30px;
		font-weight: 400;
		margin-top:0px;
		margin-bottom:20px;
	}

	#total h2{
		float:right;
		color:white;
		font-size: 30px;

	}
	
	.orderButton{
		margin-top: 30px;
		margin-left: 15px;
		width: 100%;
		border:2px solid #40B7EE;
		border-radius:20px;
		height: 50px;
		background-color:white;
		font-size: 15px;
	}
	
	.orders{
		padding-bottom: 15px;
	}
	
}


@media (max-width: 767px) {
	#date, #address, #orders{
		height: 400px;
	}
	#address{
		margin-top: 50px;
	}
	#calendar{
		margin-top:20px;
		margin-left: 30px;
		background-color:lightgray;
		border:none;
		width: 250px;
		height:250px;
		float:left;
	}
	
	#timeButtons{
		margin-top: 50px;
		width: 200px;
		height: 200px;
		background-color:white;
		border:none;
		border-radius:20px;
		box-shadow: 2px 4px 4px 3px rgba(0, 0, 0, 0.25);
		text-align:center;
		display:inline-block;
	}
	
	.time{
		display:inline-block;
		background-color: #40B7EE; 
		border:none; 
		border-radius:15px;
		width: 120px;
		height:40px;
		color:white;
		filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
		font-size: 15px;
		margin-top: 40px;
	}
	
	
	#postal{
		width: 220px;
		margin-top: 20px;
		margin-right: 20px;
		border:1px solid lightgray;
		border-radius:15px;
		height:40px;
		padding-left: 10px;
	}
	#postalCode{
		width: 120px;
		border-radius:15px;
		height:43px;
		margin-top: 15px;
		border: none;
		background-color:#40B7EE; 
		color: white;
	}
	#address1, #address2{
		padding-left: 10px;
		margin: 20px auto auto auto;
		width: 400px;
		border:1px solid lightgray;
		height: 40px;

	}
	#left{
		margin-right: 40px;
	}
	
	.order{
		padding-top: 5px;
		margin-left: 30px;
		margin-top: 15px;
		width: 80%;
		height: 70px;
		box-shadow: 2px 4px 4px 3px rgba(0, 0, 0, 0.25);
		border-radius:20px;
		
		
	}
	h4{
		font-weight: 700;
		font-size:13px;
		margin-bottom:3px;
	}
	p{
		margin-top:0px;
		font-weight:300;
		font-size:10px;
	}
	
	
	#total{
		margin-top: 30px;
		width: 85%;
		height: 200px;
		background-color: #40B7EE; 
		color:white;
		border-radius: 40px;
		padding-left: 30px;
		padding-right: 30px;
		padding-top: 10px;
	}
	
	#total h3{
		color: white;
		font-size: 25px;
		margin-bottom: 20px;
	}
	#total h4{
		font-size: 15px;
		margin-left: 30px;
		font-weight: 400;
		margin-top:0px;
		margin-bottom:20px;
	}

	#total h2{
		float:right;
		color:white;
		font-size: 30px;

	}
	
	.orderButton{
		margin-top: 30px;
		margin-left: 15px;
		width: 100%;
		border:2px solid #40B7EE;
		border-radius:20px;
		height: 50px;
		background-color:white;
		font-size: 15px;
	}
	
	.orders{
		padding-bottom: 15px;
	}
	
}



@media (max-width: 767px) {
	#date, #address, #orders{
		height: 400px;
	}
	#calendar{
		margin-top:20px;
		margin-left: 30px;
		background-color:lightgray;
		border:none;
		width: 250px;
		height:250px;
		float:left;
	}
	
	#timeButtons{
		margin-top: 50px;
		width: 200px;
		height: 200px;
		background-color:white;
		border:none;
		border-radius:20px;
		box-shadow: 2px 4px 4px 3px rgba(0, 0, 0, 0.25);
		text-align:center;
		display:inline-block;
	}
	
	.time{
		display:inline-block;
		background-color: #40B7EE; 
		border:none; 
		border-radius:15px;
		width: 120px;
		height:40px;
		color:white;
		filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
		font-size: 15px;
		margin-top: 40px;
	}
	
	
	#postal{
		width: 220px;
		margin-top: 20px;
		margin-right: 20px;
		border:1px solid lightgray;
		border-radius:15px;
		height:40px;
		padding-left: 10px;
	}
	#postalCode{
		width: 120px;
		border-radius:15px;
		height:43px;
		margin-top: 15px;
		border: none;
		background-color:#40B7EE; 
		color: white;
	}
	#address1, #address2{
		padding-left: 10px;
		margin: 20px auto auto auto;
		width: 400px;
		border:1px solid lightgray;
		height: 40px;

	}
	#left{
		margin-right: 40px;
	}
	
	.order{
		padding-top: 5px;
		margin-left: 30px;
		margin-top: 15px;
		width: 80%;
		height: 70px;
		box-shadow: 2px 4px 4px 3px rgba(0, 0, 0, 0.25);
		border-radius:20px;
	}
	h4{
		font-weight: 700;
		font-size:13px;
		margin-bottom:3px;
	}
	p{
		margin-top:0px;
		font-weight:300;
		font-size:10px;
	}
	
	
	#total{
		margin-top: 30px;
		width: 85%;
		height: 200px;
		background-color: #40B7EE; 
		color:white;
		border-radius: 40px;
		padding-left: 30px;
		padding-right: 30px;
		padding-top: 10px;
	}
	
	#total h3{
		color: white;
		font-size: 25px;
		margin-bottom: 20px;
	}
	#total h4{
		font-size: 15px;
		margin-left: 30px;
		font-weight: 400;
		margin-top:0px;
		margin-bottom:20px;
	}

	#total h2{
		float:right;
		color:white;
		font-size: 30px;

	}
	
	.orderButton{
		margin-top: 30px;
		margin-left: 15px;
		width: 100%;
		border:2px solid #40B7EE;
		border-radius:20px;
		height: 50px;
		background-color:white;
		font-size: 15px;
	}
	
	.orders{
		padding-bottom: 15px;
	}
	
	
}


@media (max-width: 555px) {
	#date{
		height: 550px;
	}
	#address{
		height: 300px;
		margin-top: 60px;
	}
	#calendar{
		text-align:center;
		margin-top:10px;
		background-color:lightgray;
		border:none;
		width: 250px;
		height:250px;
	}
	
	#timeButtons{
		margin-top: 30px;
		width: 200px;
		height: 200px;
		border:none;
		border-radius:20px;
	}
	
	#postal{
		width: 110px;
		margin-top: 20px;
		margin-right: 10px;
		border-radius: 15px;
		height:30px;
	}
	
	#postalCode{
		width: 100px;
		border-radius:15px;
		height:33px;
		margin-top: 20px;
		border: none;
	}
	#address1, #address2{
		margin: 20px auto auto auto;
		width: 250px;
		height: 30px;
	}
	
	h2{
		margin-bottom:15px;
		font-size:30px;
	}
	#left{
		width:100%;
	}
	#right{
		width:100%;
		
	}
	.order{
		padding-top: 5px;
		margin-left: 30px;
		margin-top: 15px;
		width: 80%;
		height: 70px;
		box-shadow: 2px 4px 4px 3px rgba(0, 0, 0, 0.25);
		border-radius:20px;
	}
	.orderButton{
		margin-top: 30px;
		margin-left: 10px;
		margin-bottom: 30px;
		width: 95%;
		border-radius:20px;
	
	}
	#total{
		width:80%;
	}
}