@charset "UTF-8";
#title{
	margin-top:20px;
	width: 100vw;
	height: 300px;
	padding-left: 5vw;
	padding-top: 170px;
	background-image: url("../img/community_header.jpg");
	background-size: cover;
}

#title h2{
	font-size: 30px;
	color: #40B7EE;
	
}
#title p{
	color:white;
}

/* Title Header */

.separator{
	background-color: #FAFAFA;
	border:none;
	height:10px;
	width:100vw;
	margin-top: 50px;
}

#bulletin{
	margin-left: 80px;
	margin-top:20px;
	height: 430px;
	padding: 30px;
}
#bulletin h4{
	margin-bottom:0px;
}


h4{
	font-size: 30px;
}
table{
	margin-top: 20px;
	width:85vw;
}
tr{
		line-height:3em;
}
td{
	color: gray;
}
td:nth-child(2){
	text-align:right;
	color: lightgray;
	font-size:15px;
}
td:last-child{
	text-align: center;
	font-size:15px;
}
table tr{
	border-bottom:solid #EBEBEB;
	border-width: 1px 0;
}
h4{
	font-size: 30px;
}

.more{
	margin-top: 50px;
	margin-right: 90px;
	background-color: white;
	border:none;
	font-size: 15px;
	
}
button:hover{
	cursor:pointer;
}


/* Bulletin CSS  */


#partners{
	margin-left:50px;
	padding:50px;
}

.together{
	border:none;
	border-radius: 20px;
	height: 50px;
	background-color:#40B7EE; 
	padding-left: 10px;
	padding-right:10px;
	font-size: 15px;
	color: white;
	position:absolute;
	right: 130px;
}


.autoplay{
	display:flex;
	margin-top: 100px;
}

.autoplay .item img{
	width: 250px;
	height:250px;
	margin-right: 40px;
	object-fit: cover;
	margin-bottom: 10px;
}
.item h5{
	font-size: 20px;
	font-weight: 500;
	margin-left:10px;
	margin-bottom: 10px;
}
.item p{
	font-weight: 300;
	margin-left:10px;
}

#sectionTwo{
	margin-left:50px;
	padding:50px;
}

/* Section Two CSS  */

#members{
	margin-top: 50px;
	display:flex;
	justify-content: center;
	overflow-x: scroll;
}
.member{
	margin-right: 40px;
	text-align:center;
}
.member img{
	height:15vw;
	object-fit: cover;
	border-radius: 50%;
}

.member i{
	font-size:15vw;
	color:#F0F1F6;
}

.member i:hover{
	cursor:pointer;
}
/* Members CSS  */

#staff{
	margin-top: 40px;
	margin-left:50px;
	padding:50px;
	margin-bottom: 50px;
}
#staff h4{
	margin-bottom: 70px;
}

.modal-picture{
	object-fit:cover; 
	width:250px; 
	height: 350px;
	float:left;
	margin-top:10px;
}
.modal-picture2{
	object-fit:cover; 
	width:300px; 
	height: 300px;
	float:left;
	margin-top:10px;
	
}
.modal-content{
	height: 500px;
	width: 50vw;
	border-radius: 30px;
	padding:50px 40px;
}
.modal-content2{
	height: 450px;
	width: 50vw;
	border-radius: 30px;
	padding:50px 40px;
}

.modal-h5{
	margin-top: 20px;
	color:#40B7EE; 
	font-size: 15px;
	font-weight:500;
}

.modal-input{
	width: 20vw;
	border: 1px solid lightgray;
	border-radius:10px;
	font-size: 15px;
	padding-left: 10px;
}

.modal-checkbox-div{
	display:flex;
}
.modal-checkbox{
	display:none;
}
.checkbox-label{
	width: 120px;
	height: 30px;
	margin-left: 15px;
	border-radius: 15px;
	border: 1px solid lightgray;
	color: lightgray;
	background-color:white;
	font-weight: 500;
	font-size:12px;
}
.checkbox-label:hover{
	background-color: #40B7EE; 
	border:none;
	color:white;
}
.modal-checkbox:checked + label {
	background-color: #40B7EE; 
	border:none;
	color:white;
}
.modal-submit {
	background-color: #40B7EE; 
	color:white;
	border-radius: 10px;
	margin-top: 20px;
	height: 35px;
	border:none;
	float:right;
}
select{
	width: 20vw;
	border: 1px solid lightgray;
	border-radius: 10px;
	font-size:15px;
	font-weight: 500;
	color:lightgray;
	padding-left: 10px;
}









/* Max-Width 770 */
@media (max-width: 770px) {
	.header{
		margin-top:5px;
	}
	#title{
		height: 250px;
		padding-top: 140px;
		}
	

	#title h2{
		font-size: 25px;
		font-weight: 700;
		color: #40B7EE;
		
	}
	#title p{
		color:white;
		font-size: 15px;
	}
	
	.separator{
		margin-top:0px;
		margin-bottom: 50px;
	}

/* Title Header */

	h4{
		font-size:25px;
	}
	
	
	table{
		margin-top: 10px;
	}
	
	td{
		font-size: 15px;
		line-height: 2.5em;
	}
	
	.more {
		margin-top: 30px;
		margin-right: 0px;
	}
	
	/* table */
	
	
	#bulletin, #partners, #staff{
		margin-left:30px;
	}
	.together{
		height:35px;
		border-radius:10px;
		font-size: 10px;
		
		right: 70px;
	}
	.autoplay{
		margin-top: 50px;
	}
	.autoplay .item img {
		width: 120px;
		height:120px; 
	}
	
	.autoplay h5{
		font-size:15px;
	}
	.autoplay p{
		font-size:10px;
	}
	/*autoplay carousel*/
	
	#staff{
		margin-top: 0px;
		padding-top:20px;
		
	}
	
	#staff h5{
		font-size: 15px;
	}
	
	
}


/* Max-Width 630 */
@media (max-width: 630px) {
	
	.separator{
		margin-bottom: 10px;
	}
	
	.autoplay .item img {
		width: 100px;
		height:100px; 
	}
	
	.autoplay h5{
		font-size:13px;
	}
	.autoplay p{
		font-size:9px;
	}
	
	
}

	

/* Max-Width 550 */
@media (max-width: 550px) {
	#partners, #staff, #sectionTwo{
		padding-left: 30px;
		margin-left: 30px;
	}
	.autoplay .item img {
		width: 80px;
		height:80px; 
	}
	
	.autoplay h5{
		font-size:13px;
	}
	.autoplay p{
		font-size:9px;
	}
	
}





/* Max-Width 479 */
@media (max-width: 479px) {
	
	.header{
		background-color: white;
	}
	.topnav a.icon i{
		position: relative;
		top: 0px;
	}
	#title{
		padding-top: 130px;
		height: 210px;
		margin-top: 20px;
	}

	#title h2{
		font-size: 20px;
		font-weight: 700;
		color: #40B7EE;
		
	}
	
	#title p{
		color:white;
		font-size: 12px;
	}

/* Title Header */

	#bulletin{
		padding-left: 15px;
		height: 400px;
	}
	#partners{
		padding-left: 15px;
	}
	
	.together{
		right:56px;
	}
	
	.autoplay .item img {
		width: 70px;
		height:70px; 
	}
	
	.autoplay h5{
		font-size:13px;
	}
	.autoplay p{
		font-size:8px;
	}
	
	#sectionTwo {
		padding-left:30px;
		margin-left:20px;
	}
	
	table{
		width: 80vw;
	}
	
	td, td:last-child{
		font-size: 12px;
	}
	td:nth-child(2){
		font-size:9px;
	}
	#staff{
		margin-bottom: 30px;
	}
	#members{
		margin-top:30px;
	}
	.footer img{
		margin-top: 10px;
		margin-bottom:10px;
	}

	.footer{
		height: 150px;
		padding-top: 15px;
		padding-left: 20px;
		padding-right: 20px;
	}
	.footer p{
		font-size: 7px;
	}
	
}





/* Max-Width 350 */
@media (max-width: 385px) {
	
	#title p{
		color:white;
		font-size: 10px;
	}
}


