<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="Reservation">
	<insert id="insertReservation">
		insert into RESERVATION (product, photo, detail, review, discount, price, delivery)
		value
		(#{product}, #{photo}, #{detail}, #{review}, #{discount}, #{price}, #{delivery})
	</insert>
	<update id="updateReservation">
		update RESERVATION
		set product=#{product}, photo=#{photo}, detail=#{detail}, review=#{review}, discount=#{discount}, price=#{price}, delivery=#{delivery}
		where seq=#{seq}
	</update>
	<delete id="deleteReservation">
		delete from RESERVATION where seq=#{seq}
	</delete>
	<select id="getReservation" resultType="reservation">
		select * from RESERVATION where seq=#{seq}
	</select>
	<select id="getReservationList" resultType="reservation">
		select * from RESERVATION order by seq desc
	</select>
</mapper>